.navbar {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    width: 100%;    
    position: sticky;
    top: 0;
    z-index: 50;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo i {
    color: var(--accent-color);
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.nav-menu a {
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    position: relative;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(44, 78, 151);
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

.nav-menu a:hover {
    color: rgb(44, 78, 151);
}

.cta-button {
    background-color: transparent;
    color: var(--text-dark);
    cursor: pointer;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    width: 200px;
    font-weight: 600;
    border: solid 1px #63acff;
    transition: all 0.3s ease;
}

.cta-button:hover {
    transform: translateY(-2px);
    background: #63a4ff;
    color: white;
    box-shadow: 0 4px 15px rgba(53, 141, 255, 0.3);
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
}


/* Responsive */
@media (width < 968px) {
    .menu-toggle {
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        background: white;
        width: 100%;
        padding: 2rem;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
    }

    .nav-menu.active {
        left: 0;
    }
}