<!-- Header -->
<div class="text-center mb-12">
  <h2 class="text-4xl font-bold text-blue-500 mb-4 title-sweep">Contáctanos</h2>
  <p class="text-gray-400 text-lg">
    Estamos aquí para atender tu vehículo. Si tienes alguna duda sobre lo que ofrecemos, no dudes en contactarnos!
  </p>
</div>
