@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top-color: #3b82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

model-viewer::part(default-progress-bar) {
    display: none !important;
}