---
import {
  MapPin,
  Clock,
  Phone,
  Mail,
  Smartphone,
  Instagram,
  Facebook,
} from "lucide-astro";
---

<!-- Footer -->
<footer class="footer" id="contacto">
  <div class="footer-container">
    <div class="footer-section">
      <h3>MovilCorp</h3>
      <p>
        Servicio especializado en la <strong>manipulacion</strong> de vehiculos, con mas de <strong>15 años</strong> de experiencia en 
        la industria automotriz. Al igual que tu vehiculo, eres nuestra prioridad.
      </p>
      <div class="social-links">
        <a href="#" class="group"><Facebook class="group-hover:opacity-80 opacity-40 w-5" /></a>
        <a href="#" class="group"><Instagram class="group-hover:opacity-80 opacity-40 w-5" /></a>
      </div>
    </div>
    <div class="footer-section">
      <h3>Servicios</h3>
      <ul>
        <li><a href="#servicios">Mantenimiento</a></li>
        <li><a href="#servicios">Repuestos</a></li>
        <li><a href="#servicios">Reparaciones</a></li>
        <li><a href="#servicios">Pintura</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Empresa</h3>
      <ul>
        <li><a href="#nosotros">Sobre Nosotros</a></li>
        <li><a href="#">Como funciona</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contacto</h3>
      <p class="flex items-center gap-2">
        <MapPin class="w-5 h-5" />
        Barranquilla - Atlántico, Colombia
      </p>

      <p class="flex items-center gap-2">
        <Phone class="w-5 h-5" />
        +57 (1) 234 5678
      </p>

      <p class="flex items-center gap-2">
        <Smartphone class="w-5 h-5" />
        +57 300 123 4567
      </p>

      <p class="flex items-center gap-2">
        <Mail class="w-5 h-5" />
        contacto@af.com
      </p>

      <p class="flex items-center gap-2">
        <Clock class="w-5 h-5" />
        Lun - Vie: 7:00 AM – 6:00 PM
      </p>

      <p class="flex items-center gap-2">
        <Clock class="w-5 h-5" />
        Sáb: 8:00 AM – 1:00 PM
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy; AutoFix. Todos los derechos reservados | Calidad y experiencia garantizada en la manipulacion de automotores.
    </p>
  </div>
</footer>
