---
import "../styles/main.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>AutoFix | Tu vehiculo, nuestra prioridad</title>
    <link rel="stylesheet" href="../../public/css/components/whatsapp.css" />
    <link rel="stylesheet" href="../../public/css/components/footer.css" />
    <link rel="stylesheet" href="../../public/css/components/header.css" />
    <link
      rel="stylesheet"
      href="../../public/css/components/home/loader.css"
    />
    <link
      rel="stylesheet"
      href="../../public/css/components/home/hero.css"
    />
    <link
      rel="stylesheet"
      href="../../public/css/components/home/loaderPage.css"
    />
  </head>
  <body>
    <slot />
    <Footer />
    <!-- Loader global -->
    <div
      id="global-page-loader"
      aria-hidden="true"
      class="hidden fixed inset-0 z-50 items-center justify-center"
    >
      <div class="loader-backdrop"></div>
      <div
        class="loader-panel"
        role="status"
        aria-live="polite"
        aria-atomic="true"
      >
        <div class="spinner"></div>
        <p class="loader-message">Cargando...</p>
      </div>
    </div>

    <script
      type="module"
      src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"
    ></script>

    <script src="../../public/javascript/components/home/loaderPage.js"
    ></script>
    <script src="../../public/javascript/components/home/loader.js"></script>
    <script src="../../public/javascript/components/navbar.js"></script>
    <script src="../../public/javascript/components/whatsapp.js"></script>
    <script src="../../public/javascript/components/home/hero.js"></script>
  </body>
</html>
